*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.section{
    width: 750px;
    height: 350px;
    display: flex;
    background: #ffffff;
}
.article{
    width: 40%;
    height: 100%;
    padding: 28px;
    border-right: 1px solid rgb(15, 15, 29);
    /* border-radius: 100%; */
}
#img{
    width: 100%;
    height: 100%;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 100%;
}
.article_right{
    width: 60%;
    height: 90%;
    padding-left: 20px;
    
}
.gif_section{
    width: 100%;
    height: 33%;
    border-bottom: 1px solid;
    margin-bottom: 10px;
   
}
#img_gif{
    width: 100%;
    height: 100%;
}
.name{
    font-size: 25px;
    color: #47bae7;
}
.title{
    font-size: 15px;
    color: #707172;
}
span{
font-size: 12px;
}
.address{
    margin-top: 10px;
}
.para{
    margin-left: 5px;
}
.social_link{
    display: flex;
    
}
a{
    font-size: 25px;
    color: #1570e7;
}
q{
    font-size: 12px;
}